body{
  margin: 0;
  overflow-x: hidden;
}

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

nav {
  display: flex;
  position: absolute;
  top: 20px; 
  padding: 0 20px;

  /* left: 20px; */
  text-decoration: none;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  /* padding:0 10px 0 5px; */
  height: 60px;
}
img {
  justify-content: flex-start;
  padding-left: 60px;
  height: 40px;
  width: 40px;
}

#nav-links {
  display: flex;
  list-style: none;
  align-items: end;
  align-content:flex-start;
  gap: 35px;
  padding: 0 217px;
}
nav ul a {
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
}

nav ul a {
  background-image: linear-gradient(to right, #807b07, #cf9015 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #cf9015;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}


#contact-number{
  margin-left: 180px;
}

 button{
  background-color: #CF9015;
  color: white;
  border: 2px solid white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

button:hover {
  background-color: white;
  color: #CF9015;
  box-shadow: inset 0 100px 0 0 rgb(250, 249, 247); /* set the box-shadow color to transparent */
}
/* hero section begins here */
#hero {
  display: flex;
  width: 100vw;
  height: auto;

  padding-bottom: 50px;
}
#sec-left {
  /* background-color: #FFFFFF; */
  width: 50vw;
  height: 90vh;
}
#sec-left #square {
  background-color: rgba(207, 144, 21, 0.09);
  /* 0.09 */
  /* padding: 50px 0 60px 0; */
  height: 80vh;
  width: 30vw;
  position: absolute;
  z-index: -1;

}
#sec-left header {
  /* padding-left: 70px; */
  padding: 100px 0 0 80px;
  /* text-transform: capitalize; */
}

#sec-left .heebo {
  color: #53311b;
  font-size: 55px;
  line-height: 52px;
}
#sec-left .mulish {
  font-size: 20px;
  line-height: 40px;
  color: #0f1f2e;
}


#sec-left #outer {
  background-color: rgba(207, 144, 21, 0.09);
  /* background-color: rgba(0, 0, 0, 9);   */
}

.button_slide {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(135, 61, 24, 1) 0%,
    rgba(207, 144, 16, 1) 35%,
    rgba(182, 148, 100, 1) 100%
  );
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #cf9015;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  background: linear-gradient(
    90deg,
    rgba(182, 148, 100, 1) 0%,
    rgba(135, 61, 24, 1) 35%,
    rgba(207, 144, 16, 1) 100%
  );
  box-shadow: inset 0 100px 0 0 rgba(0, 0, 0, 0.1); /* set the box-shadow color to transparent */
}


#sec-right {
  background-color: #cf9015;
  width: 50vw;
  height: 110vh;
}
#sec-right img {
  width: 90%;
  height: 70%;
  padding: 100px 90px 60px 0;
}
/* hero section ends here */

/* about goes here */
#about-text {
  text-align: center;

}

#about-text .heebo {
  font-size: 46px;
  color: #53311b;
  padding-bottom: 2000px;
}
#about-text .mulish {
  font-size: 18px;
  color: #0f1f2e;
  padding: 0;
}

#about-img {
  height: 55vh;
  padding: 60px 0 0 0;
}
#img-text {
  display: flex;
  align-items: center;
  /* padding-left: 30px; */
}

#about-img img {
  width: 30vw;
  height: 50vh;
}

#img-text .heebo {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  padding-left: 40px;

}

#img-text .mulish {
  font-size: 16px;
  margin: 10px 0 0 0;
  color: #232f55;
  /* text-align: center; */
  margin-bottom: 200px;
  padding-left: 40px;

}

#img-text a {
  text-decoration: none;
  color: #232f55;
}

#img-text a:hover {
  color: #cf9015;
}

/* about ends here */

#learn-more-sec{
  display: flex;
}

#learn-more-sec #sec-left #square {
    background-color: rgba(207, 144, 21, 0.09);
    /* 0.09 */
    /* padding: 50px 0 60px 0; */
    width: 40vw;
    height: 90vh;
    position: absolute;
    z-index: -1;
  
  }
  #sec-left-wrap{
    display: flex;
  }

  #learn-more-sec  img {
    width: 121%;
    height: 70%;
    padding: 50px 0 0 0;
  }
  
  #contact-number{
    color: red;
    border-width: 1px ;
    border-style: solid;
    border-color:red;
    /* background-color: red; */
    height: fit-content;
    padding: 15px 15px 15px 15px;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
/* nav button:hover{
    background-color: red;
    color: white;
} */

#contact-number a:hover {
    background-color: red;
    

}


  #learn-more-sec  .heebo{
    position: absolute;
    top: 290%;
    left: 55%;
    font-size: 41px;
    font-weight: normal;
    justify-content: left;
  }

  #learn-more-sec .sec-right{
    position: absolute;
    left: 64%;
    font-weight: normal;
    justify-content: left;
    top: 305%;

  }

  .sec-right {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 10px; */
    /* height: 500px;
    width: 550px; */
    padding: 10px;
    letter-spacing: 1px;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 350px;
  }
 
  .item3 {
    height: 330px;
    width: 250px;
  }

#footer-section img{
  height: 80vh;
  width: 95vw;
}

  #footer {
    position: relative;
    width: 99vw;
    height: 60vh;
    background-color: #232F55;
    color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  column-gap: 10px;
  left: 250px;
  top: -100px;
  width: 60vw;
  height: 50vh;
  background-image: linear-gradient(120deg, #fccb90 0%, #CF9015 100%);
}

.contact .heebo{
  font-size: 35px;
}
#btn-footer{
  display: flex;
  column-gap: 30px;
}

/* #btn-name {
  margin-left: 30px;
  margin-top: 60px;
} */

#btn-footer a{
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 3px solid #ffffff;
  /* display: inline-block; */
  /* transition: all 0.4s ease 0s; */
  border-color: #ffffff;

}

#btn-footer a:first-child:hover{
  background-color: #232F55;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
  color: #f6b93b;
}

#btn-footer a:last-child{
  text-decoration: none;
  color: #53311b;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-color: #ffffff;
  font-weight: bolder;

}
#btn-footer a:last-child:hover {
  color: #232F55; 
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
}

#copyright {
  margin-top: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;

} 
#copyright #icons a{
  padding: 40px 0 0 0px;
  color: #EFEFEF;
}
#copyright #icons a:hover{
  padding-top:  60px;
  color: #CF9015;
  
}

#copyright img{
  padding-left: 30px;
  height: 40px;
  width: 40px;
}

#copyright span{
  padding-left: 30px;
}
 #futher-infos {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 220px;
  text-decoration: none;
}
#futher-infos a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

#futher-infos a:hover{
  color: #CF9015;
}

