

.heebo {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  

nav{
    display: flex;
    text-decoration: none;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding:0 10px 0 5px; */
    height: 60px;

}
img{
    justify-content: flex-start;
    padding-left: 20px;
}

#nav-links{
    display: flex;
    list-style: none;
    align-items: end;
    align-content: space-around;
    gap: 35px;
    padding-right:30px ;

}
nav ul a{
    text-decoration: none;

}
nav ul a:hover{
    text-decoration: underline;

}

nav ul a {
    background-image: linear-gradient(
      to right,
      #807b07,
      #CF9015 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #CF9015;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
  


/* hero section begins here */
#hero{
    display: flex;
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
}
#sec-left{
    /* background-color: #FFFFFF; */
    width: 50vw;
    height: 90vh;
}
#sec-left #square {
    background-color: rgba(207, 144, 21, 0.09);  
      /* padding: 50px 0 60px 0; */
    height: 80vh;
    width: 30vw;
    position: absolute;

}
#sec-left header{
    /* padding-left: 70px; */
    padding: 100px 0 0 80px ;
    /* text-transform: capitalize; */
}

#sec-left  .heebo{
    color: #53311B;
    font-size: 55px;
    line-height: 52px;


}
#sec-left .mulish{
    font-size: 20px;
    line-height: 40px;
    color: #0F1F2E;
}

#sec-left #btn{
    height: 60px;
    width: 250px;
    color: aliceblue;
    background-color: #CF9015;
    border: none;
    background: rgb(135,61,24);
    background: linear-gradient(90deg, rgba(135,61,24,1) 0%, rgba(207,144,16,1) 35%, rgba(182,148,100,1) 100%);

}
#sec-left #btn-overlay{
    background-color: rgba(207, 144, 21, 0.09);  
    /* background-color: rgba(0, 0, 0, 9);   */


}
/* example */

    
.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
  }
  
  
  
  
  /* example */

#sec-right{
    background-color: #CF9015;
    width: 50vw;
    height: 110vh;   
}
#sec-right img{
    width: 90%;
    height: 70%;
    padding: 100px 90px 60px 0;
}
/* hero section ends here */

/* about goes here */
#about-text {
    text-align: center;

}

#about-text .heebo {
    font-size: 46px;
    color: #53311B;
    padding-bottom: 2000px;
}
#about-text .mulish{
    font-size: 18px;
    color: #0F1F2E;
    padding: 0 ;
}

#about-img{
    height: 55vh;;
    padding: 60px 0 0 0 ;
   
}
#img-text{
    display: flex;
    padding-left: 30px;

    
}

#about-img img{
    width: 30vw;
    height: 50vh;
}

#img-text .heebo{
    font-size: 26px;
    font-weight: normal;
    text-align: center;

}

#img-text .mulish{
    font-size: 16px;
    margin: 10px 0 0 0;
    color:#232F55 ;
    /* text-align: center; */
}

#img-text a{
    text-decoration: none;
    color:#232F55 ;

}

#img-text a:hover{
    color: #CF9015;
}

/* about ends here */