
.swiper-wrapper{
  margin: 10px;
  padding: 30px;
}
.swiper {
  width: 600px;
  height: 400px;
  padding: 50px;
  margin-top: 200px;
  margin-bottom: 300px;
  /* background-color: rgba(207, 144, 21, 5); */
  background-color: rgba(0, 0, 0, 0.9);

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */

.happycustomer{
  border-radius: 40%;
  width: 100px;
  height: 105px;
  border: 1px solid red;
  margin-bottom: 10px;

  /* padding-bottom: 40px; */
  /* margin-left: 30px; */
}

.swiper-slide .text1:first-child{
  text-align: center;
  color:#CF9015;
  margin-top: 10px;
  background-image: none;


}

.swiper-slide p{
  display: flex;
  color: brown;
  align-items: center;
  padding: 10px 40px 40px 40px;
  text-align: center;
  font-size: 12pt;
  font-weight: 400px;

}


.swiper-button-next, 
.swiper-button-prev{
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  color: white !important;
  background-color: grey;
  
}
